body {
  background-color: #8fbee7;
}



.title{
    
    font: size 200px;;
    font-style: oblique;
    font-family: 'Comic Sans Ms', cursive ;
}


.Top{

    background-color: rgb(49, 120, 195);
    overflow: hidden;
    top:0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.Top a{
    float: left;
    color: #f2f2f2;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Top a:hover{
    background-color: #ddd;
    color: #000;
}

.Top a.active{
    background-color: gray;
    color: whitesmoke;
}

.Top .Search{
    float: right;
}

.Top .Search button{
    float: right;
    padding:6px 10px;
    margin-top: 8px;
    background:#ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.Top .Search button:hover{
    background: #ccc;
}

.Top input[type=Text]{
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.SideBar{
    position:sticky;
    top: 140px;
    left:10;
    bottom: 20px;
    width: 100px;
    height: calc(100vh -60px);
    background-color:rgb(49, 120, 195);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.SideBar a{
    float: left;
    color: #f2f2f2;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.SideBar a:hover{
    background-color: white;
    color: black;
}

.content{
    margin-top: -350px;
    margin-left: 200px;
    padding: 35px 20px; 
}



#WelcomeText{
    font-family:'Comic Sans MS', cursive;
    
}

#exemple{
    font-family: 'Comic Sans Ms ', cursive;
}




.content .container{
    display: flex;
    gap : 20px;
    justify-content: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

.content .html{
    width: 300px;
    height: 300px;
    border: 2px rgb(189, 93, 3);
    background-color: #e34c2694;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:10px;
    box-sizing: border-box;
    border-radius: 10px;

}

.content .html:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(227, 76, 38, 0.8);
    transition: all 0.3s ease ;
}

.content .css{
    width:300px;
    height: 300px;
    border: 2px cyan;
    background-color:#264ce442;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.content .css:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(38, 77, 228, 0.8);
    transition: all 0.3s ease ;
}

.content .java{
    width:300px;
    height: 300px;
    border: 2px rgb(255, 242, 0);
    background-color: #f7de1e69;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.content .java:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(247, 223, 30, 0.8);
    transition: all 0.3s ease ;

}

.content .python{
    width:300px;
    height:300px ;
    border: 2px yellow;
    background-color:#3777abb1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing:border-box;
    border-radius: 10px;

}

.content .python:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(55, 118, 171, 0.8);
    transition: all 0.3s ease;
}
.content .container p{
    font-size: 13.5px;
    line-height: 1.6;
    text-align: justify;
    padding: 0 10px;
    margin-top:8px ;
    font-weight: 400;
    letter-spacing: 0.3px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
#htmltext{
    color: #714610;
    font-family: "segoe UI", "verdana", sans-serif;
}
#csstext{
    color: #254271; 
    font-family: "Poppins", "Tahoma", sans-serif;
}
#javatext{
    color: #555500; 
    font-family: "Poppins", "Tahoma", sans-serif;
}
#pythontext{
    font-size: 13px;
    color: #01364f; 
    font-family: "Georgia", serif;
    font-style: italic;
}
.html h3{
    color: #c25c18; 
    font-family: "Verdana", sans-serif; 
    font-size: 20px; 
    margin-bottom: 6px; 
    letter-spacing: 1px;
}

.css h3{
    color: #2c53a1; 
    font-family: "Tahoma", sans-serif;
    font-size: 20px;
    margin-bottom: 6px; 
    letter-spacing: 1px;
}
.java h3{
    color: #717118; 
    font-family: "Courier New", monospace;
    font-size: 20px;
    margin-bottom: 6px;
    letter-spacing: 1px;
}

.python h3 {
    color: #035389;
    font-family: "Georgia", serif; 
    font-size: 15px; 
    margin-bottom: 6px; 
    letter-spacing: 1px;
}
